<div class="login-container">
    <div class="left-panel">
        <img src="assets/BlancoFondoTransparente.png"/>
    </div>

    <div class="right-panel">
        <div class="login-container">
            <mat-card class="login-card">
                <h3 class="title"> SIPROE Aleatorio 2025</h3>
                <form (ngSubmit)="onSubmit()">
                    <mat-form-field appearance="fill">
                        <mat-label>Usuario</mat-label>
                        <input matInput maxlength="20" [(ngModel)]="username" name="username" required/>
                        <mat-icon matPrefix> person</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Contraseña</mat-label>
                        <input matInput maxlength="20" [(ngModel)]="password" name="passwrod" type="password" />
                        <mat-icon matPrefix> lock</mat-icon>
                    </mat-form-field>

                    <button type="submit" mat-raised-button color="primary">Ingresar</button>
                </form>

            </mat-card>
        </div>
        <footer>Instituto Electoral de la Ciudad de México • Huizaches 25 • Rancho Los Colorines • Tlalpan • C.P. 14386 • Ciudad de México • Conmutador: (55) 5483 3800</footer>
    </div>
</div>

<div class="overlay" *ngIf="loading">
    <mat-spinner diameter="60"></mat-spinner>
</div>