<mat-toolbar color="primary" class="top-navbar">
    <img src="assets/Logo_IECM.png" alt="Logo" class="logo">
    <span class="title">
        Dirección Ejecutiva de Participación Ciudadana y Capacitación
    </span>
    <span class="dd">{{nameUsuario}}</span>
</mat-toolbar>

<mat-sidenav-container class="main-container">
    <mat-sidenav mode="side" opened class="sidenav" routerLinkActive="active">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon>home</mat-icon>
          <span>Inicio</span>
        </a>
        <a *ngIf="!mostrarMenu" mat-list-item routerLink="calendario" routerLinkActive="active">
          <mat-icon>event</mat-icon>
          <span>Calendario Invitación</span>
        </a>
        <a *ngIf="!mostrarMenu" mat-list-item routerLink="sorteo" routerLinkActive="active">
          <mat-icon>casino</mat-icon>
          <span>Nuevo Sorteo</span>
        </a>
        <a *ngIf="!mostrarMenu" mat-list-item routerLink="asignacion" routerLinkActive="active">
          <mat-icon>assignment</mat-icon>
          <span>Asignación Directa</span>
        </a>
        <!-- <a *ngIf="!mostrarMenu" mat-list-item routerLink="reasignacion" routerLinkActive="active">
          <mat-icon class="adaptImage">autorenew</mat-icon>
          <span>Reasignación y Eliminación de Sorteos</span>
        </a> -->
        <a *ngIf="!mostrarMenu" mat-list-item routerLink="resultados" routerLinkActive="active">
          <mat-icon>print</mat-icon>
          <span>Imprimir Resultados</span>
        </a>
        <a mat-list-item routerLink="reportes" routerLinkActive="active">
          <mat-icon>bar_chart</mat-icon>
          <span>Reportes</span>
        </a>
        <a mat-list-item class="logout-button" (click)="cerrarSesion()">
          <mat-icon>logout</mat-icon>
          <span>Cerrar Sesión</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content class="content">
      <div class="content-body">
        <h2 class="titulo-central">Sistema para la asignación aleatoria del número identificador para los proyectos que participarán la Consulta de Presupuesto Participativo 2025</h2> <h2 class="titulo-central">SIPROE aleatorio 2025</h2>
        <router-outlet></router-outlet>
      </div>
      <footer>Instituto Electoral de la Ciudad de México • Huizaches 25 • Rancho Los Colorines • Tlalpan • C.P. 14386 • Ciudad de México • Conmutador: (55) 5483 3800</footer>
    </mat-sidenav-content>
  </mat-sidenav-container>