<mat-card class="invitacion-card" appearance="outlined">
    <mat-card-header class="header-content">
      <mat-card-title class="label-header">Calendario Invitación</mat-card-title>
      
      <div class="form-section">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Seleccione unidad territorial</mat-label>
          <mat-select (selectionChange)="onDistritoChange($event.value)" disableRipple [(value)]="selectedUnidad">
            <mat-option *ngFor="let unidad of unidades" [value]="unidad">{{ unidad.ut }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-header>
  
    <mat-card-content class="card-content">
        <mat-card-title class="label-header">Programar fecha y hora</mat-card-title>
        
        <div class="datetime-container">
            <mat-form-field>
                <mat-label>Selecciona la fecha</mat-label>
                <input [disabled]="datosRegistros || !territorioSelected" matInput [matDatepicker]="datepicker" [(ngModel)]="fechaSeleccionada" [matDatepickerFilter]="fechaValida">
                <mat-datepicker #datepicker />
                <mat-datepicker-toggle [for]="datepicker" matSuffix/>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Selecciona la hora</mat-label>
              <mat-select 
                [(ngModel)]="horaSeleccionada" 
                [disabled]="datosRegistros || !territorioSelected"
                [ngModelOptions]="{updateOn: 'blur'}">
              <mat-option *ngFor="let hora of opcionesHoras" [value]="hora">
                {{ hora }}
              </mat-option>
              </mat-select>
            </mat-form-field>

        </div>

        <button [disabled]="!fechaSeleccionada || !horaSeleccionada" class="buttonGuardar" (click)="guardaData()" [disabled]="loading || !fechaSeleccionada || !horaSeleccionada" mat-raised-button color="primary">Guardar</button>
        <mat-card-title class="label-headers">Programación</mat-card-title>
        <button class="button" (click)="generaDocumento()" mat-raised-button color="primary">Imprimir Calendario</button>

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="cs">
              <th mat-header-cell *matHeaderCellDef> Consecutivo </th>
              <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 + (paginator.pageIndex * paginator.pageSize) }} </td>
            </ng-container>

            <ng-container matColumnDef="ut">
              <th mat-header-cell *matHeaderCellDef> Clave UT </th>
              <td mat-cell *matCellDef="let element"> {{element.ut[0]}} </td>
            </ng-container>
            
            <ng-container matColumnDef="nut">
              <th mat-header-cell *matHeaderCellDef> Nombre UT </th>
              <td mat-cell *matCellDef="let element"> {{element.ut[1]}} </td>
            </ng-container>

            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef> Fecha </th>
              <td mat-cell *matCellDef="let element"> {{element.fecha | date: 'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="hora">
              <th mat-header-cell *matHeaderCellDef> Hora </th>
              <td mat-cell *matCellDef="let element"> {{element.hora | date: "HH:mm 'Hrs'" :'UTC'}} </td>
            </ng-container>

            <ng-container matColumnDef="accion">
              <th mat-header-cell *matHeaderCellDef> Acción </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="editarElemento(element)">
                  <mat-icon>edit</mat-icon>
                </button>

                <button mat-icon-button color="warn" (click)="eliminarElemento(element)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-card-content>
  </mat-card>
  
  <div class="overlay" *ngIf="loading">
    <mat-spinner diameter="60"></mat-spinner>
  </div>
    
  <app-footer></app-footer>
  