<mat-card class="calendario-card" appearance="outlined">
    <mat-card-header class="header-content">
      <mat-card-title class="label-header">Calendario Invitación</mat-card-title>
      
      <div class="form-section">
        <label class="form-label">Seleccione una Unidad Territorial</label>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Seleccione unidad territorial</mat-label>
          <mat-select (selectionChange)="onDistritoChange($event.value)" disableRipple [(value)]="selectedUnidad">
            <mat-option *ngFor="let unidad of unidades" [value]="unidad">{{ unidad.ut }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-header>
  
    <mat-card-content class="card-content">
        <mat-card-title *ngIf="territorioSelected" class="label-header">Programar fecha y hora</mat-card-title>
        
        <div *ngIf="territorioSelected" class="datetime-container">
            <mat-form-field>
                <mat-label>Selecciona la fecha</mat-label>
                <input [disabled]="datosRegistros " matInput [matDatepicker]="datepicker" [(ngModel)]="fechaSeleccionada">
                <mat-datepicker #datepicker />
                <mat-datepicker-toggle [for]="datepicker" matSuffix/>
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Selecciona la hora</mat-label>
                <input matInput
                  type="time"
                  [disabled]="datosRegistros"
                  [(ngModel)]="horaSeleccionada"
                  [ngModelOptions]="{updateOn: 'blur'}">
                <mat-timepicker #timepicker/>
                <mat-timepicker-toggle [for]="timepicker" matSuffix/>
            </mat-form-field>

        </div>

        <button *ngIf="territorioSelected" class="button" (click)="guardaData()" [disabled]="loading || !fechaSeleccionada || !horaSeleccionada" mat-raised-button color="primary">Guardar</button>
        <mat-card-title *ngIf="selectedDistrito" class="label-header">Programación</mat-card-title>

        <div class="mat-elevation-z8" *ngIf="selectedDistrito">
          <table mat-table [dataSource]="registros">

            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Fecha </th>
              <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
            </ng-container>

            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef> Hora </th>
              <td mat-cell *matCellDef="let element"> {{element.hora | date: 'HH:mm a':'UTC'}} </td>
            </ng-container>

            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef> Acción </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="editarElemento(element)">
                  <mat-icon>edit</mat-icon>
                </button>

                <button mat-icon-button color="warn" (click)="eliminarElemento(element)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

        </div>

        <button *ngIf="selectedDistrito"
         class="button" (click)="generaDocumento()" mat-raised-button color="primary">Generar Formato</button>
    </mat-card-content>
  </mat-card>
  
  <div class="overlay" *ngIf="loading">
    <mat-spinner diameter="60"></mat-spinner>
  </div>
    
  <app-footer></app-footer>
  