<mat-card class="sorteo-card" appearance="outlined">
    <mat-card-header class="header-content">
      <mat-card-title class="label-header">Asignación Directa</mat-card-title>
      
      <div class="form-section">
        <label class="form-label">Seleccione una Unidad Territorial</label>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Seleccione Unidad Territorial</mat-label>
          <mat-select (selectionChange)="onDistritoChange($event.value)" disableRipple [(value)]="selectedUnidad">
            <mat-option *ngFor="let unidad of unidades" [value]="unidad">{{ unidad.ut }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-header>

    <mat-card-content class="card-content">
        <div *ngIf="mostrarDiv">
            <mat-card-title class="label-header">Inventario de proyectos de la Unidad Territorial</mat-card-title>
            
            <mat-grid-list cols="3" rowHeight="100px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-card class="inventario-card" appearance="outlined">
                        <mat-card-content class="inventario-content">
                            <mat-icon class="iconAprove">inventory</mat-icon>
                            <label>Poyectos aprobados </label>
                            <label>{{aprobados}}</label>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-card class="inventario-card" appearance="outlined">
                        <mat-card-content class="inventario-content">
                            <mat-icon class="iconSort">inventory</mat-icon>
                            <label> Proyectos sorteados </label>
                            <label>{{sorteados}}</label>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-card class="inventario-card" appearance="outlined">
                        <mat-card-content class="inventario-content">
                            <mat-icon class="iconSorte">inventory</mat-icon>
                            <label>Poyectos por sortear</label>
                            <label>{{sortear}}</label>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>

            <div class="sizeColumns" *ngIf="!showDataAsigned">
                <div id="container" #canvasContainer>
                  <canvas #canvas width="400" height="300"></canvas>
                </div>

                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="datosProyectosSinNumero " class="custom-table">

                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef class="center-header"> <b>Consecutivo</b> </th>
                            <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
                        </ng-container>

                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef class="center-header"> <b>Folio de Registro</b> </th>
                            <td mat-cell *matCellDef="let element" class="center-cell"> {{element.folio}} </td>
                        </ng-container>

                        <ng-container matColumnDef="numero">
                            <th mat-header-cell *matHeaderCellDef class="center-header"> <b>Número Aleatorio</b> </th>
                            <td mat-cell *matCellDef="let element" class="center-cell"> {{element.numero}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columnasVisibles"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnasVisibles;"></tr>
                    </table>
                </div>
            </div>

        </div>
    </mat-card-content>

    <mat-card-header *ngIf="mostrarDiv" class="header-content padContent">
        <mat-card-title *ngIf="!ocultaIfExist" class="label-header">Detalles de la Asignación Directa</mat-card-title>
        
        <div class="form-section">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Seleccione el Órgano Jurisdiccional</mat-label>
                <mat-select [disabled]="llenadoForm" (selectionChange)="onOrganoChange($event.value)" disableRipple>
                    <mat-option *ngFor="let organo of organos" [value]="organo">{{ organo.descripcion }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Seleccione el motivo</mat-label>
                <mat-select [disabled]="llenadoForm" (selectionChange)="onMotivoChange($event.value)" disableRipple [(ngModel)]="motivoSeleccionado">
                    <mat-option *ngFor="let motivo of motivosCat" [value]="motivo">{{ motivo.motivo }}</mat-option>
                </mat-select>
            </mat-form-field>

            <label class="form-label">Ingrese la fecha de la resolución o sentencia:</label>
            <mat-form-field class="full-width">
                <mat-label>Selecciona la fecha</mat-label>
                <input [disabled]="llenadoForm" matInput [matDatepicker]="datepicker" [(ngModel)]="fechaSeleccionada">
                <mat-datepicker #datepicker />
                <mat-datepicker-toggle [for]="datepicker" matSuffix/>
            </mat-form-field>

            <label class="form-label">Ingrese el motivo:</label>
            <mat-form-field class="full-width">
                <textarea [disabled]="llenadoForm" [(ngModel)]="motivo" matInput placeholder="Ingrese el motivo"></textarea>
            </mat-form-field>

            <label class="form-label">Ingrese el Número de Expediente:</label>
            <mat-form-field class="full-width">
                <input [disabled]="llenadoForm" [(ngModel)]="expediente" matInput placeholder="Ingrese el Número de Expediente">
            </mat-form-field>

            <mat-grid-list cols="2" rowHeight="100px">
                <mat-grid-tile *ngIf="!sorteoIniciado" [colspan]="1" [rowspan]="1">
                    <button class="buttonSorteo" [disabled]="!motivoSeleccionado || !fechaSeleccionada || !id_o || !motivo || !expediente" mat-fab extended color="primary" (click)="iniciarSorteo()">Iniciar el Sorteo</button>
                </mat-grid-tile>
                 <mat-grid-tile *ngIf="sorteoIniciado" [colspan]="1" [rowspan]="1">
                    <button [disabled]="creoSorteo" class="buttonAsignar" mat-fab extended color="accent"  (click)="aceptarSorteo()">
                        <span *ngIf="sorteoIniciado">Asignar</span>
                    </button>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button class="buttonSorteoD" mat-fab extended color="warn" (click)="deshacerSorteo()">Cancelar</button>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-card-header>
</mat-card>
